:root {
  --background: linear-gradient(162deg, rgba(16,16,16,1) 0%, rgba(16,16,16,1) 85%, rgba(208,195,61,1) 85%, rgba(255,235,59,1) 91%, rgba(208,195,61,1) 91%, rgba(255,235,59,1) 100%);
  --fg-gradient: linear-gradient(349deg, rgba(255,235,59,1) 0%, rgba(224,207,50,1) 49%, rgba(255,235,59,1) 49%, rgba(255,235,59,1) 100%);;
  --fg: rgba(255,235,59,1);
  --link: #ffffff;
}
